@use '/src/scss/abstract/' as abstract;

.wrapper {
      margin: 100px 0;

      @include abstract.breakpoint(lg) {
            margin: 60px 0;
      }

      @include abstract.breakpoint(md) {
            margin: 30px 0;
      }
}

.inner {
      padding: 100px;
      border-radius: 20px;
      background: linear-gradient(101deg, #ac50ff -0.27%, #9f3bfa 96.12%);
      color: #fff;

      @include abstract.breakpoint(lg) {
            padding: 60px;
      }
      @include abstract.breakpoint(md) {
            padding: 40px;
            border-radius: 16px;
      }

      @include abstract.breakpoint(sm) {
            padding: 28px;
      }
}

.heading {
      width: min(443px, 100%);
      color: #fff;
      font-size: 6.2rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.2;

      @include abstract.breakpoint(lg) {
            font-size: 4.6rem;
      }

      @include abstract.breakpoint(md) {
            font-size: 3.4rem;
      }
}

.desc {
      width: min(470px, 100%);
      margin-top: 18px;
      color: #e8e8e8;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.57;

      @include abstract.breakpoint(md) {
            font-size: 1.2rem;
            margin-top: 8px;
      }
}

.group {
      margin-top: 42px;
      display: flex;
      align-items: center;
      gap: 12px;

      @include abstract.breakpoint(md) {
            margin-top: 24px;
      }

      img {
            cursor: pointer;
            width: 180px;

            @include abstract.breakpoint(md) {
                  width: 140px;
            }
      }
}
