.dropdown {
      position: absolute;
      left: -94px;
      padding-top: 18px;
      display: none;
      min-width: 100%;
      &__inner {
            border-radius: 8px;
            background: #2e2e2e;
            padding: 10px;
      }

      &__list {
            display: flex;
            align-items: center;
            gap: 8px;
            cursor: pointer;
      }

      &__wrap-thumb {
            width: 150px;
            position: relative;
            height: fit-content;
      }

      &__img {
            width: 100%;
            object-fit: cover;
            display: block;
      }

      &__title {
            position: absolute;
            top: 50%;
            left: 50%;
            text-align: center;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.4;
            white-space: nowrap;
            transform: translate(-50%, -50%);
      }
}
