.logo {
      display: flex;
      align-items: center;
      cursor: pointer;
      gap: 12px;

      &__img {
            width: 30px;
      }

      &__title {
            font-size: 2.5rem;
            font-weight: 700;
            line-height: normal;
      }
}
