ul li {
  text-decoration: none;
  list-style: none;
  font-family: inherit;
}

a {
  text-decoration: none;
  font-family: inherit;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

button,
input,
textarea,
select {
  font-size: inherit;
  color: inherit;
}

a,
button,
select,
textarea,
li,
span {
  -webkit-tap-highlight-color: transparent;
}

.row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1200px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 7.5px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 15px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 45px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 90px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 90px;
}

@media (max-width: 1399.98px) {
  .container {
    max-width: 1140px;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-none {
  display: none !important;
}

@media (max-width: 1399.98px) {
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-grid {
    display: grid !important;
  }
  .d-xxl-none {
    display: none !important;
  }
}
@media (max-width: 1199.98px) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-grid {
    display: grid !important;
  }
  .d-xl-none {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-grid {
    display: grid !important;
  }
  .d-lg-none {
    display: none !important;
  }
}
@media (max-width: 767.98px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-grid {
    display: grid !important;
  }
  .d-md-none {
    display: none !important;
  }
}
@media (max-width: 575.98px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
  .d-sm-none {
    display: none !important;
  }
}
.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 12px;
}
@media (max-width: 767.98px) {
  .logo {
    gap: 6px;
  }
}
.logo__img {
  width: 30px;
}
@media (max-width: 991.98px) {
  .logo__img {
    width: 24px;
  }
}
.logo__title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 991.98px) {
  .logo__title {
    font-size: 2rem;
  }
}

.navbar {
  flex: 1;
}
@media (max-width: 991.98px) {
  .navbar {
    padding: 20px 0;
    position: fixed;
    inset: 0 50% 0 0;
    background-color: #1a1c20;
    z-index: 20;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 100vh;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform 0.4s;
  }
}
@media (max-width: 767.98px) {
  .navbar {
    inset: 0 20% 0 0;
  }
}
.navbar__overlay {
  visibility: hidden;
  opacity: 0;
  transition: opacity, visibility;
  transition-duration: 0.4s;
}
@media (max-width: 991.98px) {
  .navbar.show {
    transform: translateX(0%);
  }
}
@media (max-width: 991.98px) {
  .navbar.show ~ .navbar__overlay {
    position: fixed;
    inset: 0;
    visibility: visible;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 19;
  }
}
.navbar__list {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}
@media (max-width: 991.98px) {
  .navbar__list {
    flex-direction: column;
    align-items: flex-start;
    margin-left: -20px;
    margin-right: 20px;
  }
}
.navbar__icon {
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: visibility, opacity;
  transition-duration: 0.3s;
}
@media (max-width: 991.98px) {
  .navbar__icon {
    transition: rotate 0.4s;
    visibility: visible;
    opacity: 1;
    rotate: -90deg;
    width: 11px;
    margin-left: auto;
  }
}
.navbar__icon.rotate {
  transition: rotate 0.4s;
}
@media (max-width: 991.98px) {
  .navbar__icon.rotate {
    rotate: 0deg;
  }
}
@media (max-width: 991.98px) {
  .navbar__item {
    width: 100%;
  }
}
.navbar__item:hover div.dropdown {
  display: block;
}
@media (max-width: 991.98px) {
  .navbar__item:hover div.dropdown {
    display: none;
  }
}
.navbar__link {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 5px 18px;
  border-radius: 38px;
  cursor: pointer;
}
@media (max-width: 991.98px) {
  .navbar__link {
    padding: 10px 20px;
    border-radius: 10px;
  }
}
.navbar__link span {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}
@media (max-width: 991.98px) {
  .navbar__link span {
    font-size: 1.7rem;
  }
}
.navbar__link:hover .navbar__icon {
  visibility: visible;
  opacity: 1;
}
.navbar__link:hover {
  background: rgba(255, 255, 255, 0.1);
}
@media (max-width: 991.98px) {
  .navbar__dot {
    width: 9px;
    height: 9px;
    border-radius: 2px;
    margin-right: 12px;
  }
  .navbar__dot.Products {
    background-color: #aac4df;
  }
  .navbar__dot.Pricing {
    background-color: #b998fc;
  }
  .navbar__dot.API {
    background-color: #b0d2ae;
  }
  .navbar__dot.Blog {
    background-color: #e78b61;
  }
}
@media (max-width: 991.98px) {
  .navbar__separate {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #3b3c3e;
    border-radius: 2px;
    margin: 10px 0 30px 0;
  }
  .navbar__upload-file {
    width: 90%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding: 38px 0;
    gap: 16px;
    border-radius: 16px;
    border: 2.5px dashed #26282c;
  }
  .navbar__upload-file img {
    width: 46px;
    filter: brightness(0) saturate(100%) invert(22%) sepia(46%) saturate(6162%) hue-rotate(213deg) brightness(96%) contrast(99%);
  }
  .navbar__bottom {
    width: 90%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
  }
  .navbar__bottom img {
    width: 20px;
  }
  .navbar__group-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    flex: 1;
    background-color: #000;
    gap: 8px;
    border-radius: 10px;
  }
  .navbar__group-btn button {
    flex: 1;
    text-align: center;
    height: 100%;
  }
  .navbar__group-btn button:nth-child(1) {
    background-color: #2d2f32;
    margin: 3px;
    height: calc(100% - 6px);
    border-radius: 6px;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
  }
  .navbar__group-btn button:nth-child(2) {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ccc;
  }
}

.button {
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
  /* 16 regular */
  font-family: Switzer;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75;
  cursor: pointer;
  padding: 0 18px;
  border-radius: 18px;
}

.button.small {
  font-size: 1.6rem;
  height: 38px;
}

.button.outline {
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.button.white {
  background-color: #fff;
  color: #000;
}

.button.primary {
  font-size: 1.6rem;
  padding: 12px 32px;
  border-radius: 99px;
  background-color: var(--Navy-Blue, #0058ff);
}

.dropdown {
  position: absolute;
  padding-top: 18px;
  display: none;
  transform: translateX(-25%);
}
@media (max-width: 991.98px) {
  .dropdown {
    position: initial;
    padding-top: 10px;
    padding-bottom: 10px;
    transform: translateX(0);
  }
}
.dropdown__inner {
  border-radius: 8px;
  background: #2e2e2e;
  padding: 10px;
}
@media (max-width: 991.98px) {
  .dropdown__inner {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
  }
}
.dropdown__list {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
@media (max-width: 991.98px) {
  .dropdown__list {
    display: grid;
    grid-template-columns: 150px 150px;
    gap: 12px;
  }
}
@media (max-width: 767.98px) {
  .dropdown__list {
    grid-template-columns: 130px 130px;
    gap: 8px;
  }
}
.dropdown__wrap-thumb {
  max-width: 150px;
  position: relative;
  height: fit-content;
}
.dropdown__img {
  width: 100%;
  object-fit: cover;
  display: block;
}
.dropdown__title {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
  white-space: nowrap;
  transform: translate(-50%, -50%);
}
@media (max-width: 767.98px) {
  .dropdown__title {
    font-size: 1.4rem;
  }
}

@media (max-width: 991.98px) {
  .dropdown.show {
    display: block !important;
  }
}
.service-card {
  padding: 60px 0;
}
@media (max-width: 991.98px) {
  .service-card {
    padding: 30px 0;
  }
}
@media (max-width: 767.98px) {
  .service-card {
    padding: 15px 0;
  }
}
.service-card__inner {
  display: flex;
  align-items: center;
  gap: 98px;
}
@media (max-width: 991.98px) {
  .service-card__inner {
    gap: 40px;
  }
}
@media (max-width: 767.98px) {
  .service-card__inner {
    flex-direction: column-reverse;
    gap: 10px;
  }
}
@media (max-width: 767.98px) {
  .service-card__inner.row-not-reverse {
    flex-direction: column;
  }
}
.service-card__info {
  flex: 1;
}
.service-card__title {
  font-size: 6.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.19;
}
@media (max-width: 991.98px) {
  .service-card__title {
    font-size: 4.2rem;
  }
}
@media (max-width: 767.98px) {
  .service-card__title {
    font-size: 3.2rem;
    font-weight: 500;
  }
}
.service-card__strong--blue {
  font-size: 6.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.19;
  background: linear-gradient(100deg, #0095ff 46.49%, #0058ff 71.15%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 991.98px) {
  .service-card__strong--blue {
    font-size: 4.2rem;
  }
}
@media (max-width: 767.98px) {
  .service-card__strong--blue {
    font-size: 3.2rem;
    font-weight: 500;
  }
}
.service-card__strong--purple {
  font-size: 6.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.19;
  background: linear-gradient(102deg, #722fff 4.6%, #b12eff 80.31%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 991.98px) {
  .service-card__strong--purple {
    font-size: 4.2rem;
  }
}
@media (max-width: 767.98px) {
  .service-card__strong--purple {
    font-size: 3.2rem;
    font-weight: 500;
  }
}
.service-card__strong--orrange {
  font-size: 6.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.19;
  background: linear-gradient(88deg, #ffcb01 4.62%, #ff5993 40.95%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 991.98px) {
  .service-card__strong--orrange {
    font-size: 4.2rem;
  }
}
@media (max-width: 767.98px) {
  .service-card__strong--orrange {
    font-size: 3.2rem;
    font-weight: 500;
  }
}
.service-card__btn {
  margin-top: 36px;
}
@media (max-width: 767.98px) {
  .service-card__btn {
    margin-top: 16px;
  }
}
.service-card__desc {
  margin-top: 18px;
  color: #c3c3c3;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75;
}
@media (max-width: 991.98px) {
  .service-card__desc {
    font-size: 1.5rem;
  }
}
@media (max-width: 767.98px) {
  .service-card__desc {
    font-size: 1.4rem;
  }
}
.service-card__wrap-thumb {
  flex: 1;
  flex-shrink: 0;
}
.service-card__wrap-thumb img {
  flex-shrink: 0;
  width: min(570px, 100%);
  object-fit: cover;
}

.blog-card__inner:nth-child(2n+1) {
  margin-right: 20px;
}
@media (max-width: 991.98px) {
  .blog-card__inner:nth-child(2n+1) {
    margin-right: 0;
  }
}
.blog-card__thumbnail {
  background-color: RED;
  border-radius: 20px;
  display: block;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}
.blog-card__title {
  margin-top: 24px;
  cursor: pointer;
  color: #fff;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.357;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (max-width: 991.98px) {
  .blog-card__title {
    font-size: 2.2rem;
  }
}
@media (max-width: 767.98px) {
  .blog-card__title {
    margin-top: 16px;
  }
}
.blog-card__desc {
  margin-top: 16px;
  color: #c3c3c3;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.57;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (max-width: 991.98px) {
  .blog-card__desc {
    font-size: 1.3rem;
  }
}
@media (max-width: 767.98px) {
  .blog-card__desc {
    margin-top: 8px;
  }
}
.blog-card__author {
  margin-top: 28px;
  display: flex;
  align-items: center;
  gap: 12px;
}
@media (max-width: 767.98px) {
  .blog-card__author {
    margin-top: 18px;
  }
}
.blog-card__author img {
  width: 44px;
  height: 44px;
  object-fit: cover;
  border-radius: 50%;
}
.blog-card__author p {
  color: #fff;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75;
}

/*# sourceMappingURL=main.css.map */
