ul li {
      text-decoration: none;
      list-style: none;
      font-family: inherit;
}

a {
      text-decoration: none;
      font-family: inherit;
}

button {
      background-color: transparent;
      border: none;
      outline: none;
}

button,
input,
textarea,
select {
      font-size: inherit;
      color: inherit;
}
