@use '/src/scss/abstract/' as abstract;

.wrapper {
      background-color: #000;
      color: #fff;
      padding: 30px 0;
      position: sticky;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 99;

      @include abstract.breakpoint(xxl) {
            padding: 24px 0;
      }

      @include abstract.breakpoint(md) {
            padding: 16px 0;
      }
}

.header-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.top-actions {
      &__inner {
            display: flex;
            align-items: center;
            gap: 10px;

            button:nth-child(2) {
                  @include abstract.breakpoint(lg) {
                        display: none;
                  }
            }
      }
}
.more-btn {
      display: none;

      @include abstract.breakpoint(lg) {
            display: block;
      }
}
