@use '/src/scss/abstract/' as abstract;
.wrapper {
      padding-top: 100px;
      padding-bottom: 60px;
}

.heading {
      text-align: center;
      max-width: 970px;
      margin: 0 auto;

      font-size: 7.2rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.2;
      strong {
            background: linear-gradient(96deg, #ac2ef8 37.51%, #ff5993 86.86%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
      }
}

.description {
      text-align: center;
      max-width: 480px;
      margin-top: 18px;
      margin-left: auto;
      margin-right: auto;
      color: #c3c3c3;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.75;
      margin-bottom: 60px;
}
