@use '/src/scss/abstract/' as abstract;

.wrapper {
      background-color: #1c1d1e;
      padding-top: 100px;
      padding-bottom: 40px;

      @include abstract.breakpoint(lg) {
            padding-top: 60px;
      }
}

.row {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 40px;

      @include abstract.breakpoint(lg) {
            flex-direction: column;
      }
}

.column {
      h4 {
            margin-top: 24px;
            color: #c3c3c3;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
            max-width: 314px;

            @include abstract.breakpoint(lg) {
                  max-width: 100%;
                  margin-top: 16px;
                  font-size: 1.3rem;
            }
      }

      .social-links {
            margin-top: 46px;
            display: flex;
            align-items: center;
            gap: 20px;

            @include abstract.breakpoint(lg) {
                  margin-top: 24px;
            }
      }

      .social-link {
            cursor: pointer;
            img {
                  transition: filter 0.3s;
                  width: 24px;
                  filter: brightness(0) saturate(100%) invert(87%) sepia(0%) saturate(1689%) hue-rotate(185deg)
                        brightness(87%) contrast(103%);

                  &:hover {
                        filter: brightness(0) saturate(100%) invert(99%) sepia(87%) saturate(2%) hue-rotate(127deg)
                              brightness(107%) contrast(101%);
                  }
            }
      }
}

.group-paths {
      display: flex;
      gap: 65px;

      @include abstract.breakpoint(md) {
            flex-direction: column;
            width: 100%;
            gap: 30px;
      }
}

.inner-group {
      display: flex;
      gap: 65px;

      @include abstract.breakpoint(md) {
            flex: 1;
            justify-content: space-between;
      }
}

.footer-bottom {
      margin-top: 100px;
      display: flex;
      align-items: center;
      justify-content: center;

      @include abstract.breakpoint(lg) {
            margin-top: 60px;
      }
      @include abstract.breakpoint(md) {
            margin-top: 40px;
      }

      p {
            color: #c3c3c3;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
      }
}

.item {
      flex: 1;
      .path-title {
            width: fit-content;
            cursor: pointer;
            margin-bottom: 24px;
            color: #fff;
            font-size: 2.4rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.167;

            @include abstract.breakpoint(lg) {
                  font-size: 2rem;
                  margin-bottom: 18px;
            }
      }

      .path-link {
            cursor: pointer;
            color: #c3c3c3;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.75;

            @include abstract.breakpoint(md) {
                  font-size: 1.5rem;
            }
      }

      .path-link:not(:nth-child(1)) {
            margin-top: 18px;

            @include abstract.breakpoint(lg) {
                  margin-top: 14px;
            }

            @include abstract.breakpoint(md) {
                  margin-top: 10px;
            }
      }
}
